<div class="container">
    <h1 class="display-4 text-center my-4">Welcome to the {{group}} {{site}}</h1>
    <p class="lead text-center">Thank you for your interest in FFEW Alliance and the exciting life of wormhole space!</p>
    
    <div class="alert alert-warning mt-4">
        <strong>Note:</strong> This ESI Fleet Tool is restricted to FFEW Alliance Fleet Commanders only. If you are a qualified FFEW Alliance Fleet Commander, please <a href="/login">log in with your Discord account</a> to verify your status and use the site.
    </div>
    
    <p>If you've landed here, it's because you're interested in what our Alliance has to offer. We operate free from the shackles of Null-sec blobs, blue donuts, and restrictive undocking permissions. For us, life in wormhole (WH) space is a unique and exhilarating experience, and we proudly embrace it.</p>
    
    <p>In FFEW Alliance, we believe that safety comes not from supercapitals but from a sharper focus on individual and team skills. Without massive fleet defense mechanisms, every pilot contributes to a safer and more secure environment. This philosophy enhances our operational efficiency and makes our space safer by fostering resilience and skill among our members.</p>
    
    <p>If you'd like to know more about joining FFEW Alliance, connect with us in-game through our chat channel: <strong>"FFEW Public"</strong>. We're happy to answer questions and discuss the benefits of joining our WH space community.</p>
    
    <div class="text-center my-4">
        <a href="https://zkillboard.com/alliance/99011699/" class="btn btn-primary btn-lg">FFEW Alliance zKillboard</a>
    </div>
</div>