<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>Link EVE Online Account</h2>
            <p class="lead mb-4">Connect your EVE Online account to interact with the Discord bot.</p>
            
            <div class="card">
                <div class="card-body">
                    <p>Click the button below to authorize your EVE Online account:</p>
                    <a href="/eve/auth/{{discordId}}" class="btn btn-primary">
                        <img src="/img/eve-sso-login-black-small.png" alt="LOG IN with EVE Online" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>